---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="trivia-body">
    <div id="trivia-container">
        <h1 style="text-align: center;">Round 3 - Audio Round: Character Themes</h1>

        <h2>Rules</h2>
        The <span style="font-style: italic;">Star Wars</span> scores have several music themes associated with specific characters, places, things, or ideas.

        Identify who or what is symbolized by each theme.

        <div class="trivia-grid">
            <div class="trivia-grid-element">
                1
                <audio controls style="width: 100%">
                    <source src="/trivia/1.ogg" type="audio/ogg">
                    <source src="/trivia/1.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                2
                <audio controls style="width: 100%">
                    <source src="/trivia/2.ogg" type="audio/ogg">
                    <source src="/trivia/2.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                3
                <audio controls style="width: 100%">
                    <source src="/trivia/3.ogg" type="audio/ogg">
                    <source src="/trivia/3.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                4
                <audio controls style="width: 100%">
                    <source src="/trivia/4.ogg" type="audio/ogg">
                    <source src="/trivia/4.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                5
                <audio controls style="width: 100%">
                    <source src="/trivia/5.ogg" type="audio/ogg">
                    <source src="/trivia/5.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                6
                <audio controls style="width: 100%">
                    <source src="/trivia/6.ogg" type="audio/ogg">
                    <source src="/trivia/6.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                7
                <audio controls style="width: 100%">
                    <source src="/trivia/7.ogg" type="audio/ogg">
                    <source src="/trivia/7.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div class="trivia-grid-element">
                8
                <audio controls style="width: 100%">
                    <source src="/trivia/8.ogg" type="audio/ogg">
                    <source src="/trivia/8.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    {% include body_scripts.html %}
  </body>
</html>
