---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="trivia-container">

        <div style="height: 100%; widows: 100%; background-color: black; margin: 0px; padding: 0px;"></div>
            <div style="position: relative; background-color: black;">
                <div style="display: flex; align-items: center; justify-content: center; flex-direction: row;">
                    <div>
                        <img src="/img/1.png" height="275px" width="275px">
                        <br>
                        <audio controls style="width: 275px">
                            <source src="/trivia/foo.ogg" type="audio/ogg">
                            <source src="/trivia/foo.mp3" type="audio/mpeg">
                        </audio>
                    </div>
                    <div>
                        <img src="/img/2.png" height="275px" width="275px">
                        <br>
                        <audio controls style="width: 275px">
                            <source src="/trivia/foo.ogg" type="audio/ogg">
                            <source src="/trivia/foo.mp3" type="audio/mpeg">
                        </audio>
                    </div>
                    <div>
                        <img src="/img/3.png" height="275px" width="275px">
                        <br>
                        <audio controls style="width: 275px">
                            <source src="/trivia/foo.ogg" type="audio/ogg">
                            <source src="/trivia/foo.mp3" type="audio/mpeg">
                        </audio>
                    </div>
                    <div>
                        <img src="/img/4.png" height="275px" width="275px">
                        <br>
                        <audio controls style="width: 275px">
                            <source src="/trivia/foo.ogg" type="audio/ogg">
                            <source src="/trivia/foo.mp3" type="audio/mpeg">
                        </audio>
                    </div>

                </div>
            </div>
        </div>

    </div>
    {% include body_scripts.html %}
  </body>
</html>
