---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="trivia-container">
        <h1 style="text-align: center;">Round 3 - Audio Round: Character Themes</h1>

        <h2>Rules</h2>
        The <span style="font-style: italic;">Star Wars</span> scores have several music themes associated with specific characters, places, things, or ideas.

        Identify who or what is symbolized by each theme.

        <div style="width: 100%; display: inline-grid; grid-template-columns: 25% 25% 25% 25%;">
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/1.ogg" type="audio/ogg">
                    <source src="/trivia/1.mp3" type="audio/mpeg">
                </audio>
                1
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/2.ogg" type="audio/ogg">
                    <source src="/trivia/2.mp3" type="audio/mpeg">
                </audio>
                2
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/3.ogg" type="audio/ogg">
                    <source src="/trivia/3.mp3" type="audio/mpeg">
                </audio>
                3
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/4.ogg" type="audio/ogg">
                    <source src="/trivia/4.mp3" type="audio/mpeg">
                </audio>
                4
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/5.ogg" type="audio/ogg">
                    <source src="/trivia/5.mp3" type="audio/mpeg">
                </audio>
                5
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/6.ogg" type="audio/ogg">
                    <source src="/trivia/6.mp3" type="audio/mpeg">
                </audio>
                6
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/7.ogg" type="audio/ogg">
                    <source src="/trivia/7.mp3" type="audio/mpeg">
                </audio>
                7
            </div>
            <div style="margin: 0.5em; text-align: center;">
                <audio controls style="width: 100%">
                    <source src="/trivia/8.ogg" type="audio/ogg">
                    <source src="/trivia/8.mp3" type="audio/mpeg">
                </audio>
                8
            </div>
        </div>
    </div>
    {% include body_scripts.html %}
  </body>
</html>
