# Build settings
# Exclude from the build for GitLab Pages
exclude: [vendor, "Gemfile", "Gemfile.lock"]

# Site settings
title: spencewenski
description: Run. Code. Sleep. Repeat.
url: "https://spencewenski.com" # the base hostname & protocol for your site
logo: /img/spencewenski-logo.png

author:
  name: Spencer Ferris
  nickname: spencewenski
  email: spencer@spencewenski.com
  twitter: spencewenski
  github: spencewenski
  gitlab: spencewenski
  keybase: spencewenski

excerpt_separator: <!--more-->

paginate: 10

highlighter: rouge

permalink: /blog/:title/

defaults:
  # posts
  - scope:
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: "post"
      comments: "true"
  # drafts
  - scope:
      type: "drafts"
    values:
      layout: "post"
      comments: "false"

# Build settings
markdown: kramdown

# gems
gems: [jekyll-paginate]
