# Site settings
title: spencewenski
description: > # this means to ignore newlines until "baseurl:"
  Run. Code. Sleep. Repeat.
# baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://spencewenski.com" # the base hostname & protocol for your site
logo: http://i.imgur.com/XdLRn2c.png

author:
  name: Spencer Ferris
  nickname: spencewenski
  email: spencer@spencewenski.com
  twitter: spencewenski
  github: spencewenski

podcast:
  subtitle: Run. Code. Sleep. Repeat.
  description: Run. Code. Sleep. Repeat.
  explicit: no
  keywords:
    - Spencer Ferris
    - spencewenski
  category: Music
  google_drive_prefix: http://docs.google.com/uc?export=open&id=

# timezone: America/New_York

excerpt_separator: <!--more-->

paginate: 10

defaults:
  # posts
  -
    scope:
      # path: "" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: "post"
      comments: "true"
  # drafts
  - scope:
      # path: ""
      type: "drafts"
    values:
      layout: "post"
      comments: "false"

# Build settings
markdown: kramdown
