# Site settings
title: spencewenski
description: > # this means to ignore newlines until "baseurl:"
  Run. Code. Sleep. Repeat.
# baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://spencewenski.github.io" # the base hostname & protocol for your site
twitter_username: spencewenski
github_username:  spencewenski

# timezone: America/New_York

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: "post"
      comments: "true"

# Build settings
markdown: kramdown
