<!--
params:
  link_url: Url to open when the reader clicks on the image.
  figure_url: What is displayed on the page; direct link to an image.
  -->
<figure class="">
    {% if include.link_url %}
    <a href="{{ include.link_url}}">
    {% endif %}
      <img class="img-responsive center-block" style="width:{{ include.width }};" src="{{ include.figure_url }}" />
    {% if include.link_url %}
    </a>
    {% endif %}
<figcaption class="text-muted text-center">{{ include.description }}</figcaption>
</figure>