<div class="content-container">

  <div class="tagline">
    <p>{{ site.description }}</p>
  </div>

  <!-- Links -->
  <div class="social-links">
    Find me on
    <ul class="list-no-style">

      {% if site.author.gitlab %}
      <li>
        <a href="https://gitlab.com/{{ site.author.gitlab }}">GitLab</a>
      </li>
      {% endif %}

      {% if site.author.github %}
      <li>
        <a href="https://github.com/{{ site.author.github }}">GitHub</a>
      </li>
      {% endif %}

      {% if site.author.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a>
      </li>
      {% endif %}

      {% if site.author.keybase %}
      <li>
        <a href="https://keybase.pub/{{ site.author.keybase }}">Keybase</a>
       </li>
      {% endif %}

      {% if site.author.email %}
      <li>
        <a href="mailto:{{ site.author.email }}">Email</a>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="margin-below"></div>

</div>
