<footer class="site-footer">

  <div class="container">


    <div class="row">
      <div class="col-md-4">
        <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></p>
        {% if site.categories.podcast %}
          <p><a href="{{ "/feed.podcast.xml" | prepend: site.baseurl }}">Subscribe to the podcast</a></p>
        {% endif %}
      </div>

      <div class="col-md-4">
        <ul class="social-media-list">
          {% if site.author.github %}
          <li>
            <!-- icon -->
            <span class="icon icon--github">
 							<img src="/img/GitHub-Mark-32px.png">    
 						</span>
            <!-- link -->
            <a href="https://github.com/{{ site.author.github }}">
              <span class="username">{{ site.author.github }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.author.gitlab %}
          <li>
            <!-- icon -->
            <span class="icon">
							<img src="/img/gitlab-logo.png" />
            </span>
            <!-- link -->
            <a href="https://gitlab.com/u/{{ site.author.gitlab }}">
              <span class="username">{{ site.author.gitlab }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.author.twitter %}
          <li>
            <!-- icon -->
            <span class="icon">
	            <img src="/img/twitter-logo-blue.png">
            </span>
            <!-- link -->
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <span class="username">{{ site.author.twitter }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.author.email %}
          <li>
            <!-- icon -->
            <span class="icon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <!-- obfuscated email (http://www.addressmunger.com/) -->
            <script language="javascript">
              AYQvZItKrBgJUXa();
            </script>
           </li>
          {% endif %}
          
          {% if site.author.keybase %}
          <li>
            <!-- icon -->
            <span class="icon">
              <img src="https://keybase.pub/images/icons/logo-no-text.png">
            </span>
            <!-- link -->
            <a href="https://keybase.pub/{{ site.author.keybase }}">
              <span class="username">{{ site.author.keybase }}</span>
            </a>
           </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4">
        <p class="text">{{ site.description }}</p>
      </div>

    </div>

  </div>

</footer>
