<!--
params:
  link_url: Url to open when the reader clicks on the image.
            example: https://imgur.com/8wBwlLH (to open the imgur page for the
                     gifv), or any other valid url

  figure_url: What is displayed on the page. Direct link to the gifv on imgur
              without the file extension.
              example: for the gifv at http://i.imgur.com/8wBwlLH.gifv,
                       figure_url would be http://i.imgur.com/8wBwlLH

  description: Description of the figure
  -->
<figure class="">
    {% if include.link_url %}
    <a href="{{ include.link_url}}">
    {% endif %}
    <video style="width:{{ include.width }}" poster="{{ include.figure_url }}.gif" class="img-responsive center-block" autoplay="autoplay" loop="loop">
      <source src="{{ include.figure_url }}.webm" type="video/webm">
      <source src="{{ include.figure_url }}.mp4" type="video/mp4">
    </video>
    {% if include.link_url %}
    </a>
    {% endif %}
<figcaption class="text-muted text-center">{{ include.description }}</figcaption>
</figure>