.blogroll, .categories-list, .tags-list {
  & > h4 {
    margin: 0 0 0 0;
  }
  & > ul {
    list-style: none;
    margin: 0 0 20px 0;
  }
}

ul.simple-list {
  margin: 0 0 0 0;
  list-style: none;
}

.side-bar {
  float: right;
}

.top-margin {
  margin-top: 30px;
}

.navbar {
  margin: 0 0 0 0;
}

// change container width
@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}

.container-fluid {
  padding: 0 0 0 0;
}
