// Reset basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}

// Setup basic styles
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight;
}

img {
  width: 10em;
  margin-top: 1em;
}

#container {
  text-align: center;
  margin-top: 10%;
}

#cookie-message {
    position: absolute;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    bottom: 0;
    background: lightgrey;
    display: none;
}

#cookie-message button {
    margin-top: 1em;
}
