// Reset basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}

// Setup basic styles
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $font-weight;
}

#home-logo {
    width: 10em;
    margin-top: 1em;
}

#home-container {
    text-align: center;
    margin-top: 10%;
}

#trivia-container {
    text-align: left;
    margin: 1em;
    font-size: 1.2em;
}

#cookie-message {
    position: absolute;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    bottom: 0;
    background: lightgrey;
    display: none;
}

#cookie-message button {
    margin-top: 1em;
}

.trivia-grid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 1.5em;
}

.trivia-grid-element {
    margin: 1em 0.5em 0.5em 0.5em; text-align: center;
}

.trivia-body {
    background-color: black;
    color: #ffbe00;
}
