.header {
  min-height: 56px;
  line-height: 56px;
  margin-bottom: 10px;

  @include mobile {
    text-align: center;
  }

  .site-title {
    font-family: $site-title-font-family;
    font-size: 2em;
    a {
      color: #000000;
      text-decoration: none;
    }

    @include tablet_or_larger {
      float: left;
    }
  }

  .page-links {
    // Gaps between nav items, but not on the first one
    & > :not(:first-child) {
      margin-left: 10px;
    }

    @include tablet_or_larger {
      float: right;
    }
  }

}



