<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">

      {% include header.html %}

      <div>
        <!-- <div style="float: left; width: 700px;"> -->
        <div class="content-container">
          {{ content }}
        </div>
        <div class="side-bar">
          <!-- side bar -->
          <img width="100px" src="{{ site.logo }}" alt="{{ site.title }}"/>
          <div>
            {% include tags.html %}
          </div>
          <div class="margin-below"></div>
        </div>
      </div>

      <div class="clear-float"></div>

      {% include footer.html %}

    </div> <!-- container -->

    {% include body_scripts.html %}

  </body>

</html>
