<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-9 top-margin">
          {{ content }}
        </div>
        <div class="col-md-3 top-margin">
          <!-- internet defense league badge -->
          <div>
            <a href="https://internetdefenseleague.org"><img src="https://internetdefenseleague.org/images/badges/final/super_badge.png" alt="Member of The Internet Defense League"/></a>
          </div>
          <!-- other links -->
          <div class="top-margin well">
            {% include blogroll.html %}
            {% include categories.html %}
            {% include tags.html %}
          </div>
        </div>
      </div>
    </div>


    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
