---
layout: default
---

{% include gen_tags.html %}
{% include gen_categories.html %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <!-- audio player -->
  <audio src="{{ page.google_drive_id | prepend: site.podcast.google_drive_prefix}}" controls></audio>
  <a href="{{ page.google_drive_id | prepend: site.podcast.google_drive_prefix}}" download>Download</a>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- categories and tags -->
  <p>Categories: {{ categories_content }}</p>
  <p>Tags: {{ tags_content }}

</div>
