---
layout: default
---

{% include gen_tags.html %}
{% include gen_categories.html %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- categories and tags -->
  <p>Categories: {{ categories_content }}</p>
  <p>Tags: {{ tags_content }}

</div>
